---
import { type CollectionEntry, getCollection } from 'astro:content';
import Main from '../../layouts/Main.astro';

export async function getStaticPaths() {
	const posts = await getCollection('blog');
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}
type Props = CollectionEntry<'blog'>;

const post = Astro.props;
const { Content } = await post.render();
---

<Main {...post.data}>
	<div>
		<h1>{post.data.title}</h1>
		<p>{post.data.description}</p>

		<span>
		Posted on {new Date(post.data.pubDate).toLocaleDateString('en-US', { month: 'long', day: 'numeric', year: 'numeric' })}
		</span>

		<hr>
	</div>
	

	<Content />
</Main>
