---
import { getCollection } from 'astro:content';

import MainLayout from '@/layouts/Main.astro';

import FormattedDate from '@/components/FormattedDate.astro';

import { SITE_TITLE } from '@/consts';

import { zenblog } from '@/lib/blog'

const posts = await zenblog.posts.list();
---

<MainLayout title={`Blog Posts - ${SITE_TITLE}`} description={"Read my thoughts."}>
	<h1>
		Blog
	</h1>

	<p>
		As you might have noticed, I actually write my blog posts in Brazilian Portuguese
		and I'm not really interested in translating them in the near future.
	</p>

	<div class="not-prose">
		{
			posts.data.map((post) => (
				<a href={`/blog/${post.slug}/`} class="mb-4 block">
					<article>
						<h2 class="text-lg font-semibold">{post.title}</h2>
						<p>
							<FormattedDate date={new Date(post.published_at)} />
						</p>
					</article>
				</a>
			))
		}
	</div>
</MainLayout>
