---
import Main from "../layouts/Main.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<Main title={SITE_TITLE} description={SITE_DESCRIPTION}>
	<h1></h1>
	<p>
		Hi. I'm <strong>Gui Sousa</strong> and I do nice things with code. 
		<br />
		I currently work as a <strong>Fullstack Developer</strong> at 
		<a href="https://maisesports.com.br/" target="_blank">Mais Esports</a>.
		Also a contributor at <a href="https://x.com/inhousegg" target="_blank">Inhouse.gg</a>
		and a <a href="https://techinrio.com" target="_blank">Tech in Rio</a> community member.
	</p>
	<p>
		I find joy on how simplicity and basics can be so powerful. This includes design,
		algorithms, music, games, and more. It influences my work and life.
	</p>

	<p>Well, I'm still doing cool stuff! You can check on my Works page.</p>

	<h2>Experience</h2>

	<div> 
		<div>
			<h3>Community Moderator</h3>
			<span>
				<strong>Tech in Rio, Volunteer</strong>
				2023 - Currently
			</span>
		</div>
		<div>
			<h3>Developer</h3>
			<span>
				<strong>Inhouse.gg</strong>
				2022 - Currently
			</span>
		</div>
		<div>
			<h3>Fullstack Developer</h3>
			<span>
				<strong>Mais Esports</strong>
				2021 - Currently
			</span>
		</div>
	</div>

	<h2>More about me</h2>

	<ul>
		<li>Someday I plan to start a cult of Svelte users. Long live Svelte! 🧡</li>
		<li>I like writing emulators targeting old processors like the Intel 8080.</li>
		<li>Although I don't enjoy coding on my free time, I really like Open Source contributing and still do some.</li>
		<li>
			I find 90's TV broadcast pretty incredible and I hope someday I'll be able
			to hijack some unused frequencies without being arrested for it.
		</li>
		<li>
			I have a Pokémon fixation and I learned a bit of reverse engineering because of it.
			Also, I love Esports. I got my first job because of it.
		</li>
		<li>
			I find joy on how we can express our vibes through small stuff, 
			like your editor config, your keyboard, the way you format your code, etc.
		</li>
	</ul>
</Main>
