---
import Main from "../layouts/Main.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<Main title={SITE_TITLE} description={SITE_DESCRIPTION}>
	<div>
		<p>
			Hi. I'm <strong>Gui Sousa</strong> and I do nice things with code. 
			I'm currently working on <a href="https://ltafantasy.com/" target="_blank">LTA Fantasy</a>
			at <strong>Fracassi Tech</strong> and a <a href="https://techinrio.com" target="_blank">Tech in Rio</a>
			community member.
		</p>

		<p>
			I find joy on how simplicity and basics can be so powerful. This includes design,
			algorithms, music, games, and more. It influences my work and life.
		</p>

		<p>Well, I'm still doing cool stuff! You can check on my Works page.</p>
	</div>
</Main>
