---
import Main from "../layouts/Main.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<Main title={SITE_TITLE} description={SITE_DESCRIPTION}>
	<p>
		Hi. I'm <strong>Gui Sousa</strong> and I do nice things with code. 
		<br />
		I currently work as a <strong>Fullstack Developer</strong> at 
		<a href="https://maisesports.com.br/" target="_blank">Mais Esports</a>.
		Also a contributor at <a href="https://x.com/inhousegg" target="_blank">Inhouse.gg</a>
		and a <a href="https://techinrio.com" target="_blank">Tech in Rio</a> community member.
	</p>
	<p>
		I find joy on how simplicity and basics can be so powerful. This includes design,
		algorithms, music, games, and more. It influences my work and, maybe even my life.
	</p>
</Main>
