---
import Main from "../layouts/Main.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<Main title={SITE_TITLE} description={SITE_DESCRIPTION}>
	<div class="sm:flex gap-x-6">
		<div class="relative size-64 shrink-0">
			<div class="bg-neutral-200 rounded-md size-64 transform -rotate-[5deg] absolute top-0 left-0 z-10" />
			<img src="https://github.com/guilherssousa.png" alt="It's me!" class="rounded-md size-64 transform -rotate-[3deg] absolute top-0 left-0 z-30 not-prose" />
		</div>
		<div>
			<p>
				Hi. I'm <strong>Gui Sousa</strong> and I do nice things with code. 
				I'm currently working on <a href="https://ltafantasy.com/" target="_blank">LTA Fantasy</a>
				at <strong>Fracassi Tech</strong> and a <a href="https://techinrio.com" target="_blank">Tech in Rio</a>
				community member.
			</p>

			<p>
				I started coding in <strong>2018</strong> and working as a developer in <strong>2020</strong>, interested in 
				small things, broadcast, Pokémon and my dotfiles. 
			</p>
		</div>
	</div>

	<div class="mt-4">
		<h2>Highlighted</h3>

		<div>
				<h3>2025</h3>

				<p>
					I joined <strong>Fracassi Tech</strong> in April 2025 to work on <a href="https://lolesports.com/news/lta-fantasy-is-here">LTA Fantasy</a>,
					where players can manage their own fantasy teams, draft their favorite players and compete with friends
					in partnership with <strong>Riot Games</strong>.
				</p>
		</div>

		<div>
			<h3>2021</h3>

			<p>
					During my time at <strong>Mais Esports</strong>, I worked on integrating and automating Esports tournament coverage, 
				data insights for viewers and tipsters, specialized SEO pages, content formats like AMP WebStories
				and contributed in special editorial content, data analytics, assets and translation.
			</p>

				<p>
					My favorite projects during this time were the <strong>Transfers page</strong>, 
					<strong>2023 website redesign</strong>,
					<strong>Worlds 2024 special coverage bar</strong>
					and a <a href="https://maisesports.com.br/especiais/matilha-ontem-e-sempre-titan-lol/">farewell letter.</a>
				</p>
		</div>
	</div>
</Main>
