---
import Main from '../layouts/Main.astro'

import { SITE_TITLE } from '../consts';
---

<Main title={`Work - ${SITE_TITLE}`} descriptions="My highlighted projects">
	<h1>My highlighted work</h1>
</Main>
