---
import Main from '../layouts/Main.astro'

import WorkCard from '../components/WorkCard.astro'

import { SITE_TITLE } from '../consts';
---

<Main title={`Work - ${SITE_TITLE}`} descriptions="My highlighted projects">
	<h1>My highlighted work</h1>

	<h2>Clients</h2>

	<div class="not-prose grid grid-cols-2 gap-x-3 gap-y-4">
		<WorkCard name="Ruan Dias" href="https://ruanpdias.com/">
			Ruan Dias is a video editor from Brazil.
		</WorkCard>

		<WorkCard name="Nice House" href="https://nicehousebr.com">
			Nice House is a entertainment hub 
			with the most talented creators from Brazil.
		</WorkCard>
	</div>

	<h2>Personal</h2>

	<div class="not-prose grid grid-cols-2 gap-x-3 gap-y-4">
		<WorkCard name="vsc2wt" href="https://vsc2wt.guilherssousa.dev">
			A tool that converts VS Code themes to
			Windows Terminal color schemes.
		</WorkCard>


		<WorkCard name="Sorting Visualizer" href="https://sorting.guilherssousa.dev">
			View sorting algorithms in action.
		</WorkCard>

		<WorkCard name="Correio Anônimo">
			A anonymous message board to send nice messages to your friends.
		</WorkCard>

		<WorkCard name="Foldify">
			Save and organize your favorite tweets
			in your phone.
		</WorkCard>

		<WorkCard name="An actual Pokédex" href="https://www.linkedin.com/feed/update/urn:li:activity:7099558659986194432/">
			As the name says, a Pokédex that actually works with the games.
		</WorkCard>

		<WorkCard name="Mew Machine" href="https://github.com/guilherssousa/mew-machine">
			A Python script that mimicks the Mew gift events 
			from the first generation Pokémon games.
		</WorkCard>
	</div>

	<h2>Open Source contributions</h2>

	<div class="not-prose grid grid-cols-2 gap-x-3 gap-y-4">
		<WorkCard name="SWR" href="https://swr.vercel.app/pt-BR">
			I translated the entire project documentation to
			Brazilian Portuguese and frequently review the
			new translations.
		</WorkCard>

		<WorkCard name="Nextra" href="https://nextra.site">
			Helped maintainers to investigate user projects
			memory bottlenecks.
		</WorkCard>
	</div>
</Main>
