---
import { Github, Linkedin, Gitlab, Rss } from "@lucide/astro";
---

<div>
  <footer
    class="max-w-screen-md mx-auto px-4 mt-8 py-12 flex items-center justify-between"
  >
    <strong>Talk with me!</strong>

    <ul class="flex gap-x-4 items-baseline">
      <li>
        <a
          class="underline"
          target="_blank"
          href="/rss.xml"
        >
          <span class="sr-only">RSS Feed</span>
          <Rss />
        </a>
      </li>
      <li>
        <a
          class="underline"
          target="_blank"
          href="https://github.com/guilherssousa"
        >
          <span class="sr-only">GitHub</span>
          <Github />
        </a>
      </li>
      <li>
        <a
          class="underline"
          target="_blank"
          href="https://gitlab.com/guilherssousa"
        >
          <span class="sr-only">GitLab</span>
          <Gitlab />
        </a>
      </li>
      <li>
        <a
          class="underline"
          target="_blank"
          href="https://www.linkedin.com/in/guilhermedasilvasousa/"
        >
          <span class="sr-only">LinkedIn</span>
          <Linkedin />
        </a>
      </li>
    </ul>
  </footer>
</div>
