<footer class="max-w-screen-md mx-auto px-4 py-6 flex items-center justify-between text-neutral-400">
	<span>talk with me:</span>

	<ul class="flex gap-x-4 items-baseline">
	  <li>
			<a class="underline" target="_blank" href="https://github.com/guilherssousa">GitHub</a>
		</li>
	  <li>
			<a class="underline" target="_blank" href="https://www.linkedin.com/in/guilhermedasilvasousa/">LinkedIn</a>
		</li>
	</ul>
</footer>
