---
import HeaderLink from "./HeaderLink.astro";
---

<header class="w-full flex-1">
  <nav class="py-2 px-4 flex items-center justify-between md:block">
    {/*<div class="size-8 sm:hidden"></div>*/}
    <a href="/" class="font-bold text-lg sm:text-xl font-serif">
      Guilherme Sousa
    </a>
    <div class="flex md:flex-col text-sm sm:text-base gap-x-2 gap-y-2 md:mt-4">
      <HeaderLink href="/">About</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
      <HeaderLink href="/work">Work</HeaderLink>
    </div>
  </nav>
</header>
