---
import HeaderLink from './HeaderLink.astro';
---

<header>
	<nav class="max-w-screen-md mx-auto px-4 py-6 flex items-center justify-between dark:text-white">
		<a href="/">
			<img src="https://github.com/guilherssousa.png" alt="This is me!" height="48" width="48" class="rounded-full" />
		</a>
		<div class="flex items-center gap-x-4">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/moodboard">Moodboard</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/work">Work</HeaderLink>
		</div>
	</nav>
</header>
