---
import HeaderLink from './HeaderLink.astro';
---

<header>
	<nav class="max-w-screen-md mx-auto px-4 py-6 flex flex-col items-center justify-between dark:text-white mb-2">
		{/*<div class="size-8 sm:hidden"></div>*/}
		<a href="/" class="font-bold text-lg sm:text-xl">
			Guilherme Sousa
		</a>
		<div class="flex items-center text-neutral-600 dark:text-neutral-300 text-sm sm:text-base gap-x-4">
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/work">Work</HeaderLink>
		</div>
	</nav>
</header>
