---
interface Props {
  name: string;
  image?: string;
  href?: string;
}

const { name, image, href } = Astro.props;

const titleClassName = [
  "font-semibold text-xl black border-b-2",
  href
    ? "border-b-2 border-dashed w-fit border-b-neutral-300"
    : "border-transparent",
];
---

<a href={href} target="_blank">
  {image && <img src={image} alt={name} />}

  <h3 class={titleClassName.join(" ")}>{name}</h3>

  <p class="leading-normal mt-2">
    <slot />
  </p>
</a>
