---
import BaseHead from '../components/BaseHead.astro';

import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

const { title, description } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body class="bg-white dark:bg-[#241f31] dark:text-white">
		<Header />
		<main class="max-w-screen-sm mx-auto px-4 antialised">
			<article class="prose prose-purple w-full dark:prose-invert">
				<slot />
			</article>
		</main>
		<Footer />
	</body>
</html>
