---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';

const { title, description } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body>
		<Header />
		<main class="max-w-screen-sm mx-auto px-4">
			<article class="prose">
				<slot />
			</article>
		</main>
	</body>
</html>
