---
import BaseHead from '../components/BaseHead.astro';

import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

const { title, description } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body class="bg-amber-50 dark:bg-emerald-950 dark:text-white">
		<Header />
		<main class="max-w-screen-sm mx-auto px-4 antialised">
			<article class="prose prose-emerald dark:prose-yellow w-full dark:prose-invert prose-a:no-underline">
				<slot />
			</article>
		</main>
		<Footer />
	</body>
</html>
