---
import BaseHead from '../components/BaseHead.astro';

import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

const { title, description } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body class="bg-[#fffcf2] dark:bg-[#222222] dark:text-[#faf3e1]">
		<Header />
		<main class="max-w-screen-md mx-auto px-4 antialised">
			<article class="prose prose-orange w-full dark:prose-invert prose-a:no-underline">
				<slot />
			</article>
		</main>
		<Footer />
	</body>
</html>
